@use "../abstracts/variables" as v;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: v.$negro;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
}
h1,
h2,
h3 {
    color: v.$negro;
    margin: 0 0 v.$separacion 0;
}
h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2rem;
}
.contenedor {
    max-width: 128rem;
    width: 95%;
    margin: 0 auto;
}